/* сброс стилей браузера */
* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
ol { 
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 
/* конец кода сброса стилей браузера */
 
/* стили для мобильных устройств и базовые стили для всех устройств  */
html {
	height: 100%;
}


body {
	display: flex;
	flex-direction: column;
	height: 100%;
}


/* Вспомогательные стили */
.btn {
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
}

.aux {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
}


.hidden {
	display: none;
}

.alarm {
	background-color: #FF0000;
	color: rgb(237,217,179);
	max-width: 80%;
	margin-left: 10%;
	margin-top: 10px;
	height: 30px;
}

.invisible {
	visibility: hidden;
}

/*
 *Стили для чердака 
 */
header {
	background-color: rgb(122,60,0);
	text-align: center;
	font-size: 20px;
	padding: 20px;
	flex: 0 0 auto;
	color: rgb(187,252,202);
}


/* Cтили для основного контента */

main {
	flex: 1 0 auto;
	background-color: rgb(242,200,89);
}

main h1 {
	font-size: 30px;
	margin: 20px 10px;
}

.button_add {
	display: block;
	margin: 10px 0 20px 10px;
	font-size: 24px;
	background-color: rgb(180,95,4);
	color: rgb(242,200,89);
	box-shadow: 0 0 4px white;
}

/* Стили для списка книг */ 

.bookList {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	text-align: center;
	font-size: 20px;
}

.bookList li {
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(180,95,4);
}

.bookList li:last-of-type {
	border-bottom: none;
}


.bookList img {
	max-width: 250px;
	height: auto;
}

.bookList div {
	margin: auto;
	text-align: center;
	display: flex;
	flex-flow: column wrap;
}

.bookList__delete_btn,
.bookList__edit_btn {
	flex: 0;
	max-width: 150px;
	margin: 10px auto;
	background-color: rgb(179,211,186);
}

.bookList__title {
	font-weight: bold;
}


/* Стили формы  редактирования/добавления */
.adding_book_form {
	margin: 20px;
	text-align: center;
	font-size: 20px;
	background-color: rgb(70,47,5);
}

.adding_book_form h2{
	padding: 20px 0;
	font-size: 24px;
	color: rgb(237,217,179);
}

.adding_book_form label{
	margin-left: 10%;
	display: block;
	text-align: left;
	font-weight: bold;
	color: rgb(237,217,179);
}

.adding_book_form input[type='text'],
.adding_book_form input[type='number'] {
	font-size: 20px;
	border-radius: 5px;
	display: block;
	margin-left: 10%;
	outline: none;
	padding: 5px;
	background-color: rgb(229,176,84);
}

.adding_book_form input[type='text']:focus,
.adding_book_form input[type='number']:focus {
	background-color: rgb(237,217,179);
	color: rgb(70,47,5);
}

.adding_book_form input[type='text'] {
	width: 80%;
}
.adding_book_form input[type='number'] {
	max-width: 30%;
	text-align: left;
}

.adding_book_form button {
	margin-top: 20px;
	margin-bottom: 20px;

}

.adding_book_form__save_btn {
	background-color: rgb(181,115,11);
	color: rgb(237,217,179);
}

.adding_book_form__cancel_btn {
	background-color: rgb(230,148,7);
	color: rgb(237,217,179);
}



/* Стили для подвала */
footer {
	background-color: rgb(122,60,0);
	text-align: center;
	font-size: 20px;
	padding: 20px;
	flex: 0 0 auto;
	color: rgb(187,252,202);
}







/* Стили для устройств с различной шириной экрана */

@media (min-width: 600px) and (max-width:768px) {
  
  
  /*Стили для списка книг*/
  .bookList li {
		padding-left: 20px;
		display: flex;
		flex-flow: row wrap;
		margin-bottom: 40px;
  }
  
  .bookList img {
		flex: 0;
  }
  
  .bookList div {
		flex: 1;
  }
  


}


@media (min-width:769px) {
  
  .bookList ul {
		max-width: 900px;
		margin: 0 auto;
  }
  
  .bookList li {
		padding-left: 20px;
		display: flex;
		flex-flow: row wrap;
		margin-bottom: 40px;
  }
  
  .bookList img {
		flex: 0;
  }
  
  .bookList div {
		flex: 1;
  }
  

}

